<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
		<welcome-file-list>
		    <welcome-file>index.html</welcome-file>
		</welcome-file-list>   
	
    <!-- 给Listener指定要加载的xml,不指定则会去加载/WEB-INF/下的applicationContext.xml，
      如果/WEB-INF下无applicationContext.xml,则会报错。
     -->	
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:spring/spring-*.xml
        </param-value>
    </context-param>
    <!--初始化spring上下文 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    
    
   <!-- 配置springMVC中央处理器  --> 
   <servlet>
      <servlet-name>SpringMVC</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	 <!-- 给springMVC指定要加载的xml,不指定则会去加载/WEB-INF/ 目录下的${servlet-name}-servlet 名称的默认配置文件，
          如果/WEB-INF下无{servlet-name}-servlet 名称的配置文件则会报错。
         --> 
	  <init-param>
	       <param-name>contextConfigLocation</param-name>
	       <param-value>classpath:spring/spring-*.xml</param-value>
	  </init-param>
      <load-on-startup>1</load-on-startup>
   </servlet>
   <!-- 指定需要过滤的请求 Mapping   【/】 表示所有请求  -->
   <servlet-mapping>
      <servlet-name>SpringMVC</servlet-name>
      <url-pattern>/</url-pattern>
   </servlet-mapping>


</web-app>
